<html>

<head>
     
     <link href={{ url_for('static',filename='styles/style.css') }} rel="stylesheet" type="text/css">
     
     </head>

          <h1 align="center" style="color: brown; font-size: 20px">WELCOME TO CHADBOT</h1><br><br><br>
               
               <div class="myDiv2">

                    <div class="myDiv"></div>       

                    <div class="item1">
                    <form action={{url_for('HomePage')}} method="post">
                                   
                         <div id="inCenter">
                              
                              <textarea id="inCenter" class="textBox" name="sendMessage" placeholder="send message"></textarea>
          
                              <input id="inCenter" type="submit" value="send"}></input>
                         
                    
                         </div>    
                    </form>
                    </div>
                    
                    
               </div>                    
                  
                    

</html>
